.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Ocupa una buena parte de la pantalla */
}

.spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: #007bff; /* Color principal de la tienda */

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}