.main-container {
  font-family: Arial, sans-serif;
}

/* Contenedor reutilizable para centrar el contenido */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px; /* Reducir padding para que funcione en móviles */
  padding-right: 20px; /* Reducir padding para que funcione en móviles */
}